@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant&family=Pixelify+Sans:wght@400;500;600&display=swap');

/* CSS Variables */
:root {
    --main-bg-color: lightcyan;
    --footer-bg-color: #160027;
    --footer-text-color: #ffffff;
}

/* General styling */
* {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overscroll-behavior-y: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    /* font-family: 'Pixelify Sans', sans-serif; */
    /* Set a default font for the whole body */
}

header {
    height: fit-content;
    width: 100%;
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

#menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding-top: 10px;
    overflow: visible;
}

#menu a {
    font-weight: 400;
    color: var(--footer-text-color);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 10px 30px;

}

#menu a:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease;
}

section,
main {
    padding: 20px;
    /* Add some space around the content */
    background-color: #fff;
    /* Assuming the plate is white, but you can adjust as needed */
    border-radius: 10px;
    /* Rounded edges */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    /* Slight elevation effect */
    max-width: 600px;
    /* Adjust to your preference */
    margin: 20px auto;
    /* Center the plate if its width is less than its container's width */
    transition: box-shadow 0.3s ease;
    /* Optional: for a smooth effect when hovering the plate */
}

/* Optional: Increase elevation on hover */
section:hover,
main:hover {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

#game-rules {
    text-align: right;
}

#game-quiz {
    text-align: center;
}

#display-question {
    padding: 20px;
}

#answer-button-container {
    padding: 20px;
}


footer {
    height: fit-content;
    width: 100%;
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
}

footer>div {
    text-align: center;
    font-weight: 400;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 5%;
    /* Ensure div takes the full width of the footer */
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
}

.icon h4 {
    text-align: center;
    margin-top: 0.25em;
}

/* Regular state - Icon size */
.icon .fa-github {
    color: var(--footer-text-color);
    transition: transform 0.3s ease;
    margin: 10px;
}

/* Hover state - Icon enlarged */
.icon .fa-github:hover {
    transform: scale(1.5);
}