@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant&family=Futura:wght@400;500;600&display=swap');

/* CSS Variables */
:root {
    --main-bg-color: #00c3ff;
    --header-text-color: #000000;
    --footer-text-color: #111111;
}

/* General styling */
* {
    scroll-behavior: smooth;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: linear-gradient(180deg, white, var(--main-bg-color), white);
}



header {
    height: fit-content;
    color: var(--header-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    max-width: 540px;
    margin: 20px auto;
}

h1 {
    font-family: 'Ysabeau Infant', sans-serif;
    letter-spacing: 1.5px;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


#menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding-top: 10px;
    overflow: visible;
}

#menu a {
    font-weight: 400;
    color: var(--footer-text-color);
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 10px 30px;

}

#menu a:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease;
}

section,
main {
    padding: 20px;
    background-color: hsla(0, 0%, 95%, 0.945);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px 10px;
    transition: box-shadow 0.3s ease;
}

main {
    background-image: url("../img/thinker.png");
    background-repeat: no-repeat;
    background-size:contain;
}

.game-details {
    background-color: #fffffff1;
    margin: 0 0 20px 0;
}

section:hover,
main:hover {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

#game-rules {
    text-align: right;
}

#game-quiz {
    text-align: center;
}

#display-question {
    padding: 20px;
}

/* Flexbox Container for Buttons */
#answer-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* Button Styling */
.answer-button {
    background-color: var(--main-bg-color);
    color: white;
    font-weight: 500;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    margin: 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}
/* Slightly darker shade on hover */
.answer-button:hover {
    background-color: #0077ff;
    letter-spacing: 1.3px;

}


footer {
    height: fit-content;
    width: 100%;
    color: var(--footer-text-color);
}

footer>div {
    text-align: center;
    font-weight: 400;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 5%;
    /* Ensure div takes the full width of the footer */
}

/* The icons container */
.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: visible;
    padding: 0 20px;
}

/* Regular state - Icon size */
.icon{
    color: var(--footer-text-color);
    transition: transform 0.3s ease;
    margin: 10px;
}

/* Hover state - Icon enlarged */
.icon:hover{
    transform: scale(1.5);
}

/* Responsive Design */
/*Ensures the margin changes smoothly from 10px to auto*/
@media only screen and (min-width: 620px) {     
    .outer-segment {
        margin: 20px auto; 
    }
}
/* Mobile design */
@media only screen and (max-width: 768px) {     
    #answer-button-container {
        flex-direction: column;
    }
}
/* Desktop design */
@media only screen and (min-width: 769px) {     
    
    #game-results {
        margin-left: 67%;
        text-align: left;
    }
    #answer-button-container {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .answer-button {
        flex-basis: calc(50% - 20px);
    }
}